%div.container
  %div.row
    %div.col-sm-12


      %h1 Listing bills

      %table.table.table-striped.table-hover.table-condensed
        %tr
          %th Bill
          %th title
          %th Introduced date

        - @bills.each do |bill|
          %tr
            %td= link_to bill.bill_id, bill_path(bill.id)
            %td= bill.title
            %td= bill.introduced_date



%br

= link_to 'New Bill', new_bill_path
